@import "../../../App.scss";

.paper {
  padding: 20px;
  background: $white;
  @extend %paper-border;
  min-height: fit-content;
  // width: 100%;
  .paper-title {
    font-size: 20px;
    font-weight: 700;
    color: $primary-color;
  }
  .paper-subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    color: $grey-02;
  }
  // .paper-break{
  //   width: 100%;
  //   height: 30px;
  // }
  // .paper-divider {

  // }
  .paper-expand {
    margin-top: 10px;
  }
}
