@import "../../../App.scss";

.enrollment-navbar {
  @extend %noselect;
  ul {
    li {
      cursor: pointer;
    }
  }
  position: fixed;
  top: 0;
  z-index: 10;
  // left: 0rem;
  // right: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  @extend %width-all;
  font-weight: 400;
  a {
    color: $white;
  }
  color: $white;
  height: 56px;
  background: $black-2f;
  #menu {
    @extend %flex-center;
    font-size: 16px;
    padding: 8px;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    transition: all 0.2s ease-in-out;
    @include media("<=sm") {
      margin-right: 8px;
    }
    // &:hover {
    //   border-radius: 50px;
    //   background: #ccc;
    //   color: $black-42;
    // }
  }
  .enrollment-navbar-left {
    @extend %flex-center;
    li,
    a {
      @extend %flex-center;
      flex-direction: row;
      div {
        min-width: fit-content;
      }
    }
    img {
      height: 32px;
      margin-right: 8px;
    }
  }
  .enrollment-navbar-center {
    @extend %flex-center;
    min-width: 0px;
    flex: 0 1 400px;
    .search-container {
      @extend %flex-center;
      min-width: 0px;
      flex: 0 1 400px;
    }
  }
  .enrollment-navbar-right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .enrollment-navbar-item {
      @extend %flex-center;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      transition: background 0.2s ease-in-out;
      @include media(">sm") {
        &:hover {
          background: $black-42;
        }
      }
    }
  }
  @include media("<=sm") {
    @include black-shadow(0px, 0px, 5px, 0, 0.2);
    height: 48px;
    color: $black-2f;
    background: $white;
    .profile-button {
      color: $black-70;
    }
    .enrollment-navbar-item {
      &:hover {
        background: $black-ef;
      }
    }
    a {
      color: $black-2f;
    }
  }
}
