@import "../../App.scss";

@supports (-webkit-touch-callout: none) {
  .account {
    bottom: auto !important;
  }
}

.account {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //For iOS
  bottom: 0;
  width: 100vw;
  @extend %flex-center;
  flex-direction: column;
  background: $primary-auxiliary-color;
  overflow: hidden;
  .paper {
    @include media("<=sm") {
      padding: 10px;
      width: calc(100% - 20px);
      //For iOS
      height: calc(100% - 20px);
      justify-content: flex-start;
    }
  }
  .account-content {
    @extend %flex-center;
    flex-direction: column;
    width: 400px;
    overflow: overlay;
    @include media("<=sm") {
      justify-content: flex-start;
      width: 100%;
      //For iOS
      // height: 100%;
    }
    .account-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0 30px 0;
    }
    .account-title {
      @extend %flex-center;
      flex-direction: column;
      margin-bottom: 30px;
      .title {
        margin: 0;
        color: $primary-color;
        @extend %fs-32;
        @extend %bold;
      }
      .subtitle {
        margin: 0;
        @extend %fs-14;
        @extend %regular;
      }
    }
    .account-inputs {
      margin-bottom: 30px;
    }
    .account-button-container {
      .account-button-primary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .account-button-secondary {
        margin-bottom: 30px;
      }
    }
    .account-footer {
      font-size: 14px;
      font-weight: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      // margin-top: 8px;
      @include media("<=sm") {
        width: 100%;
      }
      .account-footer-start {
        flex: 0 1 auto;
      }
      .account-footer-end {
        &:first-child {
          margin-right: 8px;
        }
      }
    }
  }
  // ::-webkit-scrollbar {
  //   border-radius: 10px;
  //   height: 10px;
  //   width: 4px;
  // }

  // ::-webkit-scrollbar-thumb {
  //   background: $black-da;
  //   border-radius: 10px;
  // }
}
