@import "../../../App.scss";

.navbar {
  @extend %noselect;
  ul {
    li {
      cursor: pointer;
    }
  }
  position: fixed;
  top: 0;
  z-index: 10;
  width: calc(100% - 32px);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  a {
    color: $black-2f;
  }
  color: $black-2f;
  height: 40px;
  background: $white;
  border-bottom: 2px solid $black-da;

  #menu {
    @extend %flex-center;
    font-size: 16px;
    padding: 8px;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    transition: all 0.2s ease-in-out;
    @include media("<=sm") {
      margin-right: 8px;
    }
    // &:hover {
    //   border-radius: 50px;
    //   background: #ccc;
    //   color: $black-42;
    // }
  }
  .navbar-left {
    @extend %flex-center;
    li,
    a {
      @extend %flex-center;
      flex-direction: row;
      div {
        min-width: fit-content;
      }
    }
    img {
      height: 32px;
      margin-right: 8px;
    }
  }
  .navbar-center {
    @extend %flex-center;
    min-width: 0px;
    flex: 0 1 400px;
    .search-container {
      @extend %flex-center;
      min-width: 0px;
      flex: 0 1 400px;
    }
  }
  .navbar-right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .navbar-item {
      @extend %flex-center;
      width: 40px;
      height: 40px;
      margin: 0 !important;
    }
  }
  @include media("<=sm") {
    @include black-shadow(0px, 0px, 5px, 0, 0.2);
    // height: 48px;
  }
}
