@import "../../../App.scss";

.body {
  position: absolute;
  left: 0;
  @include media(">sm") {
    left: 242px;
  }
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;
  bottom: 0;
  // background: $black-f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // height: fit-content;
  overflow-y: auto;
  @include media(">sm") {
    top: calc(58px);
    // @extend %width-all;
    flex: 1;
    // min-height: calc(100% - 112px);
  }
  @include media("<=sm") {
    // height: calc(100vh - 48px - 48px);
    flex: 1;
    // min-height: calc(100% - 96px);
    top: 48px;
    width: 100%;
    bottom: 48px;
    padding: 0 !important;
  }
  @include media(">=xl") {
    overflow-y: hidden;
    // height: calc(100% - 56px);
  }
  .body-banner {
    @extend %flex-center;
    color: $darkblue-20;
    font-size: 48px;
    // min-height: 100px;
    width: 100%;
    @include media(">sm") {
      justify-content: flex-start;
    }
    flex: 0 0 100px;
  }
  .body-content {
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .body-subcontent {
      flex: 1;
    }
    .body-content-tab-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: inherit;
      overflow-x: auto;
      min-height: fit-content;
      flex: 0 0 42px;
      .body-content-tab {
        min-width: fit-content;
        padding: 8px 16px;
        a {
          @extend %flex-center;
          font-weight: 400;
          color: $black-70;
        }
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $black-2f;
          // font-size: 18px;
        }
      }
      & .selected {
        background: white;
        a {
          color: $blue-14;
          font-weight: 600;
        }
      }
    }
  }
}
