@import "../../../../App.scss";

.navbar {
  background-color: $white;
  a {
    text-decoration: none;
  }
  @include media("<=sm") {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid $grey-01;
    z-index: 10;
    .navbar-start {
      width: 100%;
      height: 100%;
      .navbar-item-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        button {
          height: 100%;
          flex: 1 0 auto;
          .MuiButton-label {
            height: 100%;
            width: 100%;
          }
          a {
            color: $primary-color;
            width: 100%;
            height: 100%;
            .navbar-item-bg {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .iconBox {
                height: fit-content !important;
              }
              .navbar-item-label {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .navbar-end {
      display: none;
    }
  }
  @include media(">sm") {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid $grey-01;
    .navbar-start {
      width: 100%;
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .imageBox {
        width: 40px !important;
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
        :hover {
          cursor: pointer;
        }
      }
      .navbar-item-container {
        width: 100%;
        .navbar-item {
          width: 100%;
          a {
            color: $primary-color;
            font-size: 10px;
            width: 100%;
            height: 100%;
            .navbar-item-bg {
              width: 100%;
              height: 44px;
              padding: 16px 0 14px 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
    .navbar-end {
      width: 100%;
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}
